{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
<div class="container">
<div class="col-sm-6">
    <div id="map" class="col-sm-12"></div>
    <a href="{{ profile }}">View my Profile</a>
    <a href="{{ history }}">History</a>
    <a href="{{ pay }}">Payment Methods</a>
</div>
<div class="col-sm-6">
    <button class="time">Estimate Time</button>
    <button class="price">Estimate Price</button>
    <button class="products">Available Products</button>
    <div id="response"></div>
</div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/googlemaps.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQkwi9eFIhcRNwExnvBN0WbmEFH4y-CHU&callback=initMap"></script>
{% endblock %}