{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
    <div id="map"></div>
    <button class="time">Estimate Time</button>
    <button class="price">Estimate Price</button>
    <button class="products">Available Products</button>
    <a href="{{ login }}">View my Profile</a>
    <div id="response"></div>
    <script src="{% static 'js/googlemaps.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQkwi9eFIhcRNwExnvBN0WbmEFH4y-CHU&callback=initMap">
    </script>
{% endblock %}