 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 #map {
     height: 400px;
  margin: 0 auto 20px auto;
 }
 #prof{
     background:rgba(45,45,45,.5);
     margin:0 auto;
     padding:40px;
     text-align:center;
 }